.section {
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: var(--navbar-height);
    box-shadow: 0px 3px 9.5px 0.5px rgba(77, 55, 55, 0.5);
  }
  
  .category-name {
    font-family: Lobster-Regular;
    text-align: center;
    text-transform: capitalize;
    color: #951207;
    height: 100px;
    line-height: 1;
    /* background-color: lightblue; */
    margin: 73px auto 0;
  }
  
  .category-decoration-image-wrapper>div:first-child {
    display: block;
  }
  
  .category-decoration-image-wrapper>div:last-child {
    display: none;
  }
  
  .content-page {
    max-width: 1540px;
    position: relative;
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 210px;
  }
  
  .main-content {
    position: relative;
    width: 1410px;
    height: auto;
    /* background-color: lightgray; */
    background-color: unset;
    word-break: break-all;
    /* margin: 0 auto 212px; */
    margin: 0 auto;
    font-family: NotoSans-Regular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 136px;
    row-gap: 142px;
    z-index: 1;
  }
  
  .main-content>div:last-child {
    width: 100%;
  }
  
  .title-view {
    position: relative;
    color: var(--theme-dark);
    margin-bottom: 35px;
  }
  
  .main-title-decoration {
    position: absolute;
    width: 3px;
    height: -webkit-fill-available;
    background-color: var(--theme-dark);
    display: block;
  }
  
  .main-title {
    padding-left: 40px;
    margin: 0;
    width: 820px;
    word-break: break-all;
    font-size: var(--theme-font-3l);
    font-family: NotoSerifTC;
  }
  
  .title-main-image {
    /* position: relative; */
    /* width: 820px; */
    /* height: 462px; */
    /* background-color: var(--theme-white); */
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    margin-bottom: 53px;
  }
  
  .title-main-content {
    font-size: var(--theme-font-2s);
    line-height: 1.6;
    letter-spacing: 2.1px;
    text-align: left;
    color: var(--theme-dark);
  }
  
  
  
  .hot-content {
    position: relative;
    width: 500px;
    height: fit-content;
    background-color: unset;
  }
  
  .connect-flex-site {
    position: relative;
    margin: 0 auto;
    max-width: 1340px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    gap: 88px;
    background-color: unset;
    /* margin-bottom: 100px; */
    margin-bottom: 0;
    cursor: pointer;
    overflow: hidden;
  }
  
  .connect-flex-box {
    position: relative;
    background-color: unset;
    width: 268px;
    height: 261px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .connect-image {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 403px;
    height: 257px;
    background-size: contain;
    overflow: hidden;
    border-radius: 8px;
    justify-content: center;
    filter: drop-shadow(8px 9px 11px 0px rgb(0 0 0 / 0.5));
  }
  
  .connect-title {
    white-space: nowrap;
    overflow-x: hidden;
    max-width: -webkit-fill-available;
    text-overflow: ellipsis;
    color: var(--theme-red);
    letter-spacing: 2px;
    font-size: var(--theme-font-2s);
  } */
  
  .left-content {
    position: relative;
    max-width: 820px;
    width: fit-content;
  }
  
  .content-tags {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    color: var(--theme-color);
    font-size: var(--theme-font-2s);
    gap: 26px;
    margin-bottom: 65px;
    justify-content: center;
  }
  
  .content-section {
    position: relative;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
    /* box-shadow: 0 1px 11px rgba(0, 0, 0, 0.25); */
  }
  
  /* .title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    width: fit-content;
    gap: 49px;
    max-width: fit-content;
    height: fit-content;
    align-items: center;
  } */
  
  .title-mainImage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 178px;
    height: 146px;
    background-image: url('/assets/img/hot_image.png');
    box-shadow: 8px 9px 11px 0px rgb(0 0 0 / 25%);
  }
  
  .title-mainImage::after {
    content: '';
    position: relative;
    top: 0;
    left: 204px;
    width: 2px;
    height: 159px;
    background-image: url('/assets/img/hot_line.png');
  }
  
  .title {
    text-align: left;
    text-overflow: ellipsis;
    max-height: 146px;
    width: 267px;
    /* font-size: var(--theme-font-md); */
    color: var(--theme-gold);
    overflow: hidden;
    line-height: 1.5;
  }
  
  .trend-tags-flex-tags {
    white-space: nowrap;
    line-height: 1;
    color: var(--theme-color);
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--theme-font-3s);
  }
  
  
  @media (max-width: 400px) {
  
    .section {
      position: relative;
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: var(--navbar-height);
      box-shadow: 0px 3px 9.5px 0.5px rgba(77, 55, 55, 0.5);
    }
  
    .category-name {
      color: var(--theme-gold);
      margin-top: 2rem;
      height: unset;
    }
  
    .category-decoration-image-wrapper>div:first-child {
      display: none;
    }
  
    .category-decoration-image-wrapper>div:last-child {
      display: block;
    }
  
    .content-page {
      max-width: 1540px;
      position: relative;
      margin: 0 auto;
      width: fit-content;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 210px;
    }
  
    .main-content {
      flex-direction: column;
      align-items: center;
      padding: 0 2rem;
      width: 100vw;
      height: fit-content;
      margin-bottom: 3rem;
      row-gap: 7rem;
    }
  
  
    .title-view {
      position: relative;
      color: var(--theme-dark);
      margin-bottom: 35px;
    }
  
    .main-title-decoration {
      position: absolute;
      width: 3px;
      height: -webkit-fill-available;
      background-color: var(--theme-dark);
      display: block;
    }
  
    .main-title {
      padding-left: 40px;
      margin: 0;
      width: 820px;
      word-break: break-all;
      font-size: var(--theme-font-3l);
      font-family: NotoSerifTC;
    }
  
    .title-main-image {
      /* position: relative; */
      /* width: 820px; */
      /* height: 462px; */
      /* background-color: var(--theme-white); */
      -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
      filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
      margin-bottom: 53px;
    }
  
    .title-main-content {
      font-size: var(--theme-font-2s);
      line-height: 1.6;
      letter-spacing: 2.1px;
      text-align: left;
      color: var(--theme-dark);
    }
  
  
  
    .hot-content {
      position: relative;
      width: 500px;
      height: fit-content;
      background-color: unset;
    }
  
    .connect-flex-site {
      position: relative;
      margin: 0 auto;
      max-width: 1340px;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      gap: 88px;
      background-color: unset;
      /* margin-bottom: 100px; */
      margin-bottom: 0;
      cursor: pointer;
      overflow: hidden;
    }
  
    .connect-flex-box {
      position: relative;
      background-color: unset;
      width: 268px;
      height: 261px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }
  
    /* .connect-image {
      position: relative;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      width: 403px;
      height: 257px;
      background-size: contain;
      overflow: hidden;
      border-radius: 8px;
      justify-content: center;
      filter: drop-shadow(8px 9px 11px 0px rgb(0 0 0 / 0.5));
    }
    
    .connect-title {
      white-space: nowrap;
      overflow-x: hidden;
      max-width: -webkit-fill-available;
      text-overflow: ellipsis;
      color: var(--theme-red);
      letter-spacing: 2px;
      font-size: var(--theme-font-2s);
    } */
  
    .left-content {
      position: relative;
      max-width: 820px;
      width: fit-content;
    }
  
    .content-tags {
      position: relative;
      max-width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      color: var(--theme-color);
      font-size: var(--theme-font-2s);
      gap: 26px;
      margin-bottom: 65px;
      justify-content: center;
    }
  
    .content-section {
      position: relative;
      padding-top: 0;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      gap: 80px;
      /* box-shadow: 0 1px 11px rgba(0, 0, 0, 0.25); */
    }
  
    /* 
    .title-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      cursor: pointer;
      width: fit-content;
      gap: 49px;
      max-width: fit-content;
      height: fit-content;
      align-items: center;
    } */
  
    .title-mainImage {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: 178px;
      height: 146px;
      background-image: url('/assets/img/hot_image.png');
      box-shadow: 8px 9px 11px 0px rgb(0 0 0 / 25%);
    }
  
    .title-mainImage::after {
      content: '';
      position: relative;
      top: 0;
      left: 204px;
      width: 2px;
      height: 159px;
      background-image: url('/assets/img/hot_line.png');
    }
  
    .title {
      text-align: left;
      text-overflow: ellipsis;
      max-height: 146px;
      width: 267px;
      /* font-size: var(--theme-font-md); */
      color: var(--theme-gold);
      overflow: hidden;
      line-height: 1.5;
    }
  
    .trend-tags-flex-tags {
      white-space: nowrap;
      line-height: 1;
      color: var(--theme-color);
      cursor: pointer;
      text-transform: uppercase;
      font-size: var(--theme-font-3s);
    }
  
  }