.contentPage-decoration-image-wrapper-mobile {
  display: none;
}

.contentPage-decoration-image-wrapper-pc {
  display: block;
}

.section {
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: var(--navbar-height);
  box-shadow: 0px 3px 9.5px 0.5px rgba(77, 55, 55, 0.5);
  z-index: 1;
}

.section>a {
  position: absolute;
  inset: 0;
}

.section>img {
  object-fit: cover;
  object-position: center;
}

.category-name {
  font-family: Lobster-Regular;
  text-align: center;
  text-transform: capitalize;
  color: #951207;
  height: 100px;
  line-height: 1;
  /* background-color: lightblue; */
  margin: 73px auto 0;
}

.hot-content {
  position: relative;
  width: 500px;
  height: fit-content;
  background-color: unset;
}

.connect-flex-box {
  position: relative;
  background-color: unset;
  width: 403px;
  height: 317px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

}


.connect-image {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 403px;
  height: 257px;
  background-size: contain;
  overflow: hidden;
  border-radius: 8px;
  justify-content: center;
  filter: drop-shadow(8px 9px 11px 0px rgb(0 0 0 / 0.5));
}

.connect-image>img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.connect-title {
  white-space: nowrap;
  overflow: hidden;
  max-width: -webkit-fill-available;
  text-overflow: ellipsis;
  color: var(--theme-text);
  letter-spacing: 2px;
  font-size: 20px;
  width: -moz-available;
  text-align: center;
}



.content-section {
  position: relative;
  margin: 34px 0 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 80px;
  /* box-shadow: 0 1px 11px rgba(0, 0, 0, 0.25); */
}

/* .title-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
  width: fit-content;
  gap: 49px;
  max-width: fit-content;
  height: fit-content;
  align-items: center;
} */

/* .title-mainImage {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 178px;
  height: 146px;
  background-image: url('./../../assets/img/hot_image.png');
  box-shadow: 8px 9px 11px 0px rgb(0 0 0 / 25%);
}

.title-mainImage::after {
  content: '';
  position: relative;
  top: 0;
  left: 204px;
  width: 2px;
  height: 159px;
  background-image: url('./../../assets/img/hot_line.png');
} */

/* 
.title-wrapper {
} */

.title {
  text-align: left;
  text-overflow: ellipsis;
  max-height: 146px;
  width: 267px;
  /* font-size: var(--theme-font-md); */
  color: var(--theme-gold);
  overflow: hidden;
  line-height: 1.3;
}

.trend-tags-flex-tags {
  white-space: nowrap;
  line-height: 1;
  color: var(--theme-red);
  cursor: pointer;
  text-transform: uppercase;
  font-size: var(--theme-font-3s);
}

@media screen and (max-width: 768px) {

  .contentPage-decoration-image-wrapper-mobile {
    display: block;
  }

  .contentPage-decoration-image-wrapper-pc {
    display: none;
  }

  .section {
    --navbar-height: 5.5rem;
    position: relative;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* margin-top: var(--navbar-height); */
    box-shadow: 0px 3px 9.5px 0.5px rgba(77, 55, 55, 0.5);
    height: 15rem;
  }

  .category-name {
    font-family: Lobster-Regular;
    font-size: 90px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 9.05px;
    color: #951207;
    height: 100px;
    line-height: 1;
    /* background-color: lightblue; */
    margin: 73px auto 0;
  }

  .hot-content {
    position: relative;
    width: 500px;
    height: fit-content;
    background-color: unset;
  }

  .connect-flex-box {
    width: 100%;
    gap: 1rem;
    justify-content: unset;
    height: fit-content;
  }


  .connect-image {
    width: 100%;
    height: 14rem;
    border-radius: 1rem;
    filter: drop-shadow(0 6px 4px rgba(0 0 0/0.5));
  }

  /* .connect-image>img {} */

  .connect-title {
    text-align: left;
    height: 3rem;
    width: 100%;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: break-spaces;
    overflow: hidden;
    font-size: 1rem;
    padding: 0 0.5rem;
  }



  .content-section {
    position: relative;
    margin: 34px 0 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 80px;
    /* box-shadow: 0 1px 11px rgba(0, 0, 0, 0.25); */
  }

  /* .title-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
    width: fit-content;
    gap: 49px;
    max-width: fit-content;
    height: fit-content;
    align-items: center;
  } */

  /* .title-mainImage {
    width: 100%;
    height: auto;
  }

  .title-mainImage::after {
    content: '';
    position: relative;
    top: 0;
    left: 204px;
    width: 2px;
    height: 159px;
    background-image: url('./../../assets/img/hot_line.png');
  } */


  .title-wrapper {
    font-size: 1rem;
    padding: unset;
  }

  .title {
    text-align: left;
    text-overflow: ellipsis;
    max-height: 146px;
    width: 267px;
    /* font-size: var(--theme-font-md); */
    color: var(--theme-gold);
    overflow: hidden;
    line-height: 1.3;
  }

  .trend-tags-flex-tags {
    white-space: nowrap;
    line-height: 1;
    color: var(--theme-red);
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--theme-font-3s);
  }

}