.content-page {
    max-width: 1140px;
    position: relative;
    margin: 117px auto 0;
    width: fit-content;
    display: block;
    z-index: 1;
}

.left-content {
    position: relative;
    /* max-width: 820px; */
    width: 1140px;
}

.title-view {
    position: relative;
    color: var(--theme-dark);
    margin-bottom: 35px;
}

.main-title-decoration {
    position: relative;
    padding-left: 50px;
    margin-bottom: 50px;
    width: fit-content;
    color: var(--theme-text);
    display: block;
    height: 44px;
    line-height: 44px;
    font-family: NotoSans-Regular;
    font-size: 32.5px;
}

.main-title-decoration:hover {
    color: currentColor;
    text-decoration: none;
}

.main-title-decoration::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-image: url(./../../assets/img/content/return.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 41px;
    height: 44px;
    background-color: transparent;
}

.contentPageLeft-decoration-image-wrapper:has(>div:only-child) {
    display: none;
}

.contentPageLeft-decoration-image-wrapper>div:first-child {
    display: block;
}

.contentPageLeft-decoration-image-wrapper>div:last-child {
    display: none;
}

.main-title {
    margin: 0;
    word-break: break-word;
    /* font-size: var(--theme-font-3l); */
    /* font-family: Lobster-Regular; */
    color: var(--theme-red);
    /* font-size: 60px; */
    line-height: 1.3;
    /* letter-spacing: 1px; */
}

.main-content {
    position: relative;
    height: fit-content;
    box-sizing: border-box;
    /* background-color: lightgray; */
    background-color: unset;
    word-break: break-word;
    font-family: NotoSans-Regular;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 77px;
    padding-left: 8px;
}

.main-content>div:first-child {
    width: 1140px;

}

.main-content>div:first-child>div:first-child {
    position: relative;
    height: fit-content;
    width: 100%;
}

.main-content>div:first-child>div:first-child::after {
    display: none;
}


.title-main-content {
    position: relative;
    font-size: var(--theme-font-2s);
    line-height: 1.6;
    letter-spacing: 2.1px;
    text-align: left;
    color: var(--theme-dark);
    /* margin-bottom: 205px; */
    margin-bottom: 50px;
}

/* .title-main-content::after {
    display: none;
} */

.title-main-content p {
    font-family: NotoSans-Regular;
    font-size: 20px;
}

.title-main-content a {
    font-family: NotoSans-Regular;
    color: var(--primary);
}

.title-main-content a:hover {
    text-decoration: underline;
}

.title-main-content h1{
    font-size: 2.5rem;
}
.title-main-content h2{
    font-size: 2rem;
}
.title-main-content h3{
    font-size: 1.5rem;
}
.title-main-content b,
.title-main-content strong {
    /* font-family: NotoSans-Medium; */
    -webkit-text-stroke-width: 1px;
}

.title-main-content button {
    background-color: rgb(247, 229, 191);
    border: 1px solid var(--theme-red);
    border-radius: 10px;
    padding: 5px 30px;
    box-sizing: border-box;
    height: 100%;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    filter: drop-shadow(0 4px 1px rgb(229, 164, 60));
}

/* .title-main-content img {
    width: 300px;
    height: 300px;
} */

.play-now {
    --play-now-size: 150px;
    background-image: url(./../../assets/img/content/playNow.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: auto;
    height: var(--play-now-size);
    display: block;
    position: relative;
    margin: 0 auto;
}

/* .title-main-image {
    position: relative;
    width: 820px;
    height: 462px;
    background-color: var(--theme-white);
    -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
    margin-bottom: 53px;
  }
   */


.content-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: auto;
}

.content-side::after {
    display: none;
}

.content-advertise {
    --content-ad-size: 260px;
    background-image: url(/img/content/advertise.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--content-ad-size);
    height: var(--content-ad-size);
}

.content-tags {
    position: relative;
    max-width: 100%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    color: var(--theme-color);
    font-size: var(--theme-font-2s);
    gap: 26px;
    margin-bottom: 65px;
    justify-content: center;
}

.content-tags>div:first-child {
    --tag-distance: -40px;
    position: inherit;
    color: var(--theme-gold-tag);
    font-family: Lobster-Regular;
    letter-spacing: 4px;
    font-size: 40px;
    width: fit-content;
}

.content-tags>div:first-child::before,
.content-tags>div:first-child::after {
    content: "";
    display: block;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url(./../../assets/img/content/tag_deco.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 31px;
    height: 33px;
}

.content-tags>div:first-child::before {
    left: var(--tag-distance);
}

.content-tags>div:first-child::after {
    right: var(--tag-distance);
}

.content-tags>div:last-child {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

@media screen and (max-width: 768px) {
    .content-page {
        margin: 2rem auto 4rem;
        width: 100%;
    }

    .left-content {
        width: 100%;
        padding: 0 2rem;
    }

    .title-view {
        margin-bottom: 1rem;
    }

    .main-title-decoration {
        padding-left: 2.5rem;
        margin-bottom: 2rem;
        height: 2rem;
        line-height: 2rem;
        font-family: NotoSans-Medium;
        font-size: 1.5rem;
        color: var(--theme-red);
    }

    .main-title-decoration:hover {
        color: currentColor;
        text-decoration: none;
    }

    .main-title-decoration::before {
        width: 2rem;
        height: 2rem;
    }

    .contentPageLeft-decoration-image-wrapper>div:only-child {
        display: block;
    }

    .contentPageLeft-decoration-image-wrapper>div:first-child {
        display: none;
    }

    .contentPageLeft-decoration-image-wrapper>div:last-child {
        display: block;
    }

    .main-title {
        font-size: 2.5rem;
        letter-spacing: 0.2rem;
    }

    .main-content {
        width: unset;
        padding: unset;
        flex-direction: column;
        align-items: unset;
        gap: 2rem;
    }

    .main-content>div:first-child {
        width: unset;
    }

    .title-main-content {
        font-size: var(--theme-font-2s);
        line-height: 1.6;
        letter-spacing: 2.1px;
        text-align: left;
        color: var(--theme-dark);
        margin-bottom: 1rem;
    }

    .title-main-content p {
        font-family: NotoSans-Regular;
        font-size: 1rem;
    }

    .title-main-content img {
        margin: 1rem 0;
        max-width: unset;
        width: 100%;
    }

    .main-content>div:first-child>div:first-child {
        margin-bottom: 5rem;
    }

    .main-content>div:first-child>div:first-child::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url(./../../assets/img/mobile/index/deco.png);
        /* background-color: grey; */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 23vw;
        height: 5vw;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100% + 2rem);
    }

    /* .title-main-content::after {
        --title-main-content-background-offset: -3rem;
        content: "";
        display: block;
        position: absolute;
        background-image: url(./../../assets/img/mobile/index/deco.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 23vw;
        height: 5vw;
        left: 50%;
        transform: translateX(-50%);
    } */

    /* .title-main-content::after {
        bottom: var(--title-main-content-background-offset);
    } */

    /* .title-main-image {
        position: relative;
        width: 820px;
        height: 462px;
        background-color: var(--theme-white);
        -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        margin-bottom: 53px;
      }
       */


    .content-side {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .content-side::after {
        --content-side-background-offset: -3rem;
        content: "";
        display: block;
        position: absolute;
        background-image: url(./../../assets/img/mobile/index/deco.png);
        /* background-color: grey; */
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 23vw;
        height: 5vw;
        left: 50%;
        transform: translateX(-50%);
    }

    .content-side::after {
        bottom: var(--content-side-background-offset);
    }

    .content-advertise {
        --content-ad-size: 10rem;
    }

    .content-tags {
        position: relative;
        max-width: 100%;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        color: var(--theme-color);
        font-size: var(--theme-font-2s);
        gap: 1rem;
        justify-content: center;
    }

    .content-tags>div:first-child {
        --tag-distance: -5rem;
    }

    .content-tags>div:first-child::before,
    .content-tags>div:first-child::after {
        background-image: url(./../../assets/img/mobile/content/tag_deco.png);
        width: 1.5rem;
        height: 1.5rem;
    }

    .content-tags>div:last-child {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0 2rem;
        box-sizing: border-box;
        flex-wrap: wrap;
        justify-content: center;
    }
}