.deco-background {
    --category-background-transform: translateY(-50%);
    inset: 0;
    z-index: 0;
    top: 10%;
    bottom: 10%;
}

.deco-background.fixed {
    position: fixed;
    /* --category-background-offset: 19px; */
}

.deco-background.absolute {
    position: absolute;
    /* --category-background-offset: -240px; */
}

.deco-background::before,
.deco-background::after {
    content: '';
    position: absolute;
    background-size: contain;
    top: 50%;
    transform: var(--category-background-transform);
}

.deco-background.repeat::before,
.deco-background.repeat::after {
    width: 178px;
    height: 90%;
    background-repeat: space;
    background-position: center;
}

.deco-background.repeat::before {
    background-image: url(./../../assets/img/content/deco_toRight.png);
    left: var(--category-background-offset)
}

.deco-background.repeat::after {
    background-image: url(./../../assets/img/content/deco_toLeft.png);
    right: var(--category-background-offset);
}


.deco-background.no-repeat::before,
.deco-background.no-repeat::after {
    width: 367px;
    height: 826px;
    background-repeat: no-repeat;
}

.deco-background.no-repeat::before {
    background-image: url(./../../assets/img/category/deco_toRight.png);
    left: var(--category-background-offset)
}

.deco-background.no-repeat::after {
    background-image: url(./../../assets/img/category/deco_toLeft.png);
    right: var(--category-background-offset);
}

@media screen and (max-width: 768px) {

    .deco-background.fixed {
        /* --category-background-offset: 1rem; */
        --category-background-transform: unset;
        top: 0;
        bottom: 0;
    }


    .deco-background.repeat::before,
    .deco-background.repeat::after {
        width: 5rem;
        height: 120rem;
        background-repeat: no-repeat;
        top: 0;
    }

    .deco-background.repeat::before {
        background-image: url(./../../assets/img/mobile/category/deco_toRight.png);
        left: var(--category-background-offset)
    }

    .deco-background.repeat::after {
        background-image: url(./../../assets/img/mobile/category/deco_toLeft.png);
        right: var(--category-background-offset);
    }
}